VITE_PUBLIC_MEDUSA_BASE_URL=http://localhost:9000
VITE_PUBLIC_COMPANY_IMAGE="https://images.unsplash.com/photo-1441986300917-64674bd600d8?q=80&w=3570&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
VITE_PUBLIC_COMPANY_NAME="ACME®"
VITE_PUBLIC_COMPANY_LOGO="https://pbs.twimg.com/profile_images/1642940899918331908/rgDM_I8h_400x400.jpg"