.main {
    background: var(--main-contrast);
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 0 2rem;
    gap: 2rem;
    filter: opacity(0.7);
}

.main > div {
    background-color: var(--main-contrast);
    display: grid;
    place-items: center;
}

.button {
    height: fit-content;
    padding: 10px 16px;
    background-color: #C8C8C8;
    border-radius: 6px;
    color: white;
    box-shadow: none;
    filter: opacity(1.3);
}

.search {
    width: 100%;
    border-radius: 5px;
    height: fit-content;
    padding: 10px 16px;
}

.scanner {
    display: grid;
    gap: 1rem;
    justify-items: center;
    align-content: center;
    grid-template-rows: auto auto 1fr;
    height: 100%;
}
.scanner video {
    height: 100%;
    border-radius: 10px;
}

.scanButton {
    align-items: center;
    background-color: rgb(39, 39, 42);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(255, 255, 255, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.08) 0px -0.75px 0px 0px, rgba(255, 255, 255, 0.12) 0px 0px 0px 1px, rgba(0, 0, 0, 0.3) 0px 1px 1px 0px, rgba(0, 0, 0, 0.3) 0px 2px 2px 0px;
    box-sizing: border-box;
    color: rgb(250, 250, 250);
    cursor: pointer;
    display: inline-flex;
    font-size: 13px;
    height: 32px;
    justify-content: center;
    outline-offset: 2px;
    outline-style: solid;
    outline-width: 2px;
    padding-block-end: 6px;
    padding-block-start: 6px;
    padding-bottom: 6px;
    padding-inline-end: 12px;
    padding-inline-start: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    position: relative;
    tab-size: 4;
    text-align: center;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;
    transition-duration: 0.15s;
    transition-property: color, background-color, border-color, box-shadow, opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    word-spacing: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.posMenuItem {
    display: grid;
    border: 2px solid var(--main-contrast-lighter);
    border-radius: 10px;
    height: 10vh;
    cursor: pointer;
    grid-template-columns: 1fr 4fr;
    place-items: center;
}
.posMenuItem *,
.terminalCard * {
    background-color: transparent;
}
.posMenuItem h1 {
    width: 100%;
    font-size: larger;
    font-weight: 700;
}

.terminalSelector{
    display: flex;
    padding: 5rem;
}

.terminalCard {
    display: grid;
    aspect-ratio: 1;
    border: 2px solid var(--main-contrast-lighter);
    border-radius: 10px;
    height: 30vh;
    cursor: pointer;
    grid-template-rows: 50% auto auto auto auto;
    justify-content: center;
    justify-items: center;
    position: relative;
}

.terminalCard.connecting::after {
    content: 'Connecting...';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #C8C8C8;
    animation: appear 500ms ease;
    color: black;
    display: grid;
    place-items: center;
    font-size: larger;
    font-weight: 700;
}

@keyframes appear {from {opacity: 0;} to {opacity: 1;}}

.terminalCard h1 {
    text-align: center;
    font-weight: 700;
    font-size: larger;
}

.terminalCard > span,
.terminalCard > small {
    text-align: center;
}

.terminalCard img {
    height: 100%;
}

.statusBadge {
    display: flex;
    justify-content: center;
}

.statusIcon {
    height: 80%;
    aspect-ratio: 1;
    margin-right: .5rem;
    border-radius: 2px;
}

.statusIcon.online {
    background-color: rgb(1, 163, 1);
}

.statusIcon.offline {
    background-color: grey;
}