div.main-page {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    text-decoration: none;
    justify-content: flex-start;
}

header,
ul,
.main-page,
.main-menu a,
a {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.page-name {
    font-size: 20px;
    font-weight: 600;
    margin: 40px;
}

header p {
    margin: 40px;
    padding: 10px 25px 10px 25px;
    border: 2px dashed rgba(0, 165, 16, 1)
}

ul {
    margin-top: 100px;
    width: 465px;
    gap: 25px;
    flex-direction: row;
}

nav ul a {
    text-decoration: none;
    display: flex;
    margin: 0;
    width: 215px;
    height: 55px;
    background-color: rgba(206, 206, 206, 1);
    border-radius: 10px;
}

nav ul a li {
    margin: 0;
    color: black;
}

.color {
    background-color: rgba(210, 244, 255, 1);
}

#disable {
    background-color: rgba(206, 206, 206, 1);
    color: #818181;
    list-style-type: none;
    cursor: not-allowed;
}

li {
    list-style-type: none;
}

#disable:hover {
    border: none;
}

.draft-orders-list {
    width: 100%;
    display: flex;
    gap: 35px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.list-draft-orders {
    padding: 20px 25px;
    box-sizing: border-box;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    border: 2px solid transparent;
    transition: 0.5s ease;
}

.list-draft-orders:hover {
    border-color: black;
    border-radius: 8px;
}

.list-draft-orders p,
button {
    margin-top: 11px;
    font-weight: 500;
}