.order-note {
    margin: 25px 18px 0px 18px;
    display: flex;
    height: 80vh;
    justify-content: flex-start;
}

.input-note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-note input {
    background-color: rgba(210, 244, 255, 1);
    height: 70px;
    width: 500px;
}

.input-note input::placeholder {
    color: black;
    text-align: center;
}

.btn-order-note {
    width: 120px;
    height: 40px;
    background-color: black;
}

.notes li:hover {
    cursor: pointer;
}

.notes ul {
    display: flex;
    flex-direction: column;
    width: auto;
}