main.select-customer-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 25px
}

.search-results .customer-results {
    width: 429px;
    border: 2px solid rgba(206, 206, 206, 1);
    border-radius: 10px;
}

.customer-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .customer {
    width: 379px;
    height: 38px;
    background-color: rgba(206, 206, 206, 1);
    border-radius: 10px;
    margin: 6px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.customer p {
    color: black;
    font-weight: 500;
}

.customer:hover {
    cursor: pointer;
} */