main.terminals {
    margin: 25px 18px;
}

main .stripe-terminal {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
    line-height: 18.15px;
}

.back-menu a {
    text-decoration: none;
    color: rgb(109, 109, 109);
}

main.terminals {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

main .stripe-terminal {
    width: 215px;
    height: 289px;
}